# PORT= 8080
# DATABASE_URL= mongodb://localhost:27017/taskflow
# # Values = local | development | staging |production
# NODE_ENV=local
# #Jwt secret
# PRIVATE_KEY= Your JWT secret key
# PUBLIC_KEY= Your JWT secret key
# RESEND_KEY=
# MAIL_SENDER_NO_REPLY=
# FRONTEND_BASEURL=